.directory-container {
  // margin: 100px 50px 50px 50px;
  margin: 10px 2.5%;
  // background-color: brown;
  position: relative;
  display: flex;
  justify-content: center; /* 水平置中 */
  flex-wrap: wrap;
  // width: 90%;
  // height: 800px;
  height: 80vw; 
  max-height: 800px;

  @media screen and (max-width: 414px) {
    // background-color: green;
    flex-wrap: nowrap;
    flex-direction: column;
    // height: 80vw;
    align-content: flex-start; 
    margin-top: 50px;
    height: auto;
    max-height: 1500px;
  }
}